#header-nav{
	background-color: #C6C9C2 ;
}

.navbar-brand h1{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0;
	margin-left: 0;
	color: #000;
	font-family: sans-serif;
}

.navbar-nav{
	background-color: #C6C9C2;
}

#nav-list span{
	color: darkblue;
	text-align: center;
}

#nav-list span:hover  {
	color: white;
	font-size: 1.2em;
	background: #000;
}

#menu-item-title{
	margin-bottom: 25px;
	font-size: 1.8em;
	font-family: verdana;
	font-weight: bold;
}

#Chicken, #Beef, #Sushi{
	border: 1px solid black;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	margin-bottom: 10px;
	margin-right:10px;
	margin-left:10px;
	margin-top: 5px;
	padding: 5px;
	background-color: #C6C9C2;
	height: 1000px;
	color: #000;
	font-size: 110%;
	}

p{
	padding-top: 15px;
	font-size: .8em;
}